<p class="lead">Profile: <%= current_user.username %></p>
<hr></hr>
<p></p>
<div class="well">
  <dl class="dl-horizontal">
    <dt>Username: </dt>
    <dd><%= current_user.username %></dd>
    <dt>Timezone: </dt>
    <dd>Central Time (US & Canada)</dd>
  </dl>
</div>
<h5><%= current_user.username %>'s Activity</h5>
<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to "Posts (1)", "/users/iceguyvn" %>
  </li>
  <li class="">
    <%= link_to "Comments (0)", "/users/iceguyvn?tab=comments" %>
  </li>
</ul>
<%= render 'shared/row' %>