<p class="lead">Profile: <%= @user.username %></p>
<hr></hr>
<p></p>
<div class="well">
  <dl class="dl-horizontal">
    <dt>Username: </dt>
    <dd><%= @user.username %></dd>
    <dt>Timezone: </dt>
    <dd>Central Time (US & Canada)</dd>
  </dl>
</div>
<h5><%= @user.username %>'s Activity</h5>
<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to "Posts (1)", "/users/#{@user.username}" %>
  </li>
  <li class="">
    <%= link_to "Comments (0)", "/users/#{@user.username}?tab=comments" %>
  </li>
</ul>

<% @posts.each do |post| %>
  <%= render partial: 'shared/post', locals: {post: post} %>
<% end %>
