<% username = @user.username %>
<p class="lead">Profile: <%= username %></p>
<hr></hr>
<p></p>
<div class="well">
  <dl class="dl-horizontal">
    <dt>Username: </dt>
    <dd><%= username %></dd>
    <dt>Timezone: </dt>
    <dd><%= @user.time_zone %></dd>
  </dl>
</div>

<h5><%= username %>'s Activity</h5>
<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to "Posts (1)", user_path(@user) %>
  </li>
  <li class="">
    <%= link_to "Comments (0)", "#{user_path(@user)}?tab=comments" %>
  </li>
</ul>

<% @posts.each do |p| %>
  <%= render 'shared/post', post: p %>
<% end %>
