<p>
  <% if post.news %>
    <span class="badge">
      <%= link_to "News", "/categories/news" %>
    </span>
  <% end %>
  <% if post.programming %>
    <span class="badge">
      <%= link_to "Programming", "/categories/programming" %>
    </span>
  <% end %>
  <% if post.education %>
    <span class="badge">
      <%= link_to "Education", "/categories/education" %>
    </span>
  <% end %>
  <% if post.sports %>
    <span class="badge">
      <%= link_to "Sports", "/categories/sports" %>
    </span>
  <% end %>
  <% if post.humor %>
    <span class="badge">
      <%= link_to "Humor", "/categories/humor" %>
    </span>
  <% end %>
</p>
