<div class="row">
  <%= render 'shared/pvote', post: post %>

  <div class="span8 well">
    <%= render 'shared/badge', post: post %>

    <h4><%= link_to post.title, full_url(post.url) %></h4>
    <p><%= post.description %></p>

    <p>
      <span class="quiet">posted by</span>
      <% username = User.find(post.user_id).username %>
      <%= link_to username, "/users/#{username}" %>
      <small>at <%= post.created_at %></small>
    </p>

    <small>
      <span>
        <%= link_to "#{post.comments.count} comments", post_path(post.slug) %>
      </span>
    </small>
  </div>
</div>
