<div class="row">
  <%= render 'shared/post_vote', post: post %>

  <div class="span8 well">
    <%= render 'shared/badge', post: post %>

    <h4><%= link_to post.title, full_url(post.url) %></h4>
    <p><%= post.description %></p>

    <p>
      <span class="quiet">posted by</span>
      <%-# look for User from within a Post -%>
      <% user = User.find(post.user_id) %>
      <%= link_to user.username, user_path(user) %>
      <small>at <%= post.created_at %></small>
    </p>

    <small>
      <span>
        <%= link_to "#{post.comments.count} comments", post_path(post) %>
      </span>
    </small>
  </div>
</div>
