<div class="row">
  <div class="span0 well text-center">
    <a rel="nofollow" href="/posts/tealeaf-academy/vote?vote=true" data-remote="true" data-method="post">
      <span class="glyphicon glyphicon-arrow-up"></span>
    </a>
    </br>
    <span><%= "votes" %></span>
    </br>
    <a rel="nofollow" href="/posts/tealeaf-academy/vote?vote=false" data-remote="true" data-method="post">
      <span class="glyphicon glyphicon-arrow-down"></span>
    </a>
  </div>

  <div class="span8 well">
    <span class="badge">
      <%= link_to "/categories/programming" %>
    </span>
    <span class="badge">
      <%= link_to "/categories/education" %>
    </span>
    <h4><%= link_to post.title, post.url %></h4>
    <p><%= post.description %></p>
    <p>
      <span class="quiet">posted by</span>
      <%= link_to "iceguyvn", "/users/iceguyvn" %>
      <small>at <%= post.created_at %></small>
    </p>
    <small>
      <span>
        <%= link_to "75 comments", "/posts/tealeaf-academy" %>
      </span>
    </small>
  </div>
</div>
