<div id="main" role="main">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="alert alert-success">
          <a class="close" data-dismiss="alert">x</a>
          <div id="flash_notice">Your comment was added.</div>
        </div>

        <p class="pull-right">
          [<%= link_to "edit this post", edit_post_path %>]
        </p>

        <%= render 'shared/badge', post: @post %>

        <p class="lead"><%= @post.title %></p>
        <hr></hr>
        <p></p>

        <p><%= @post.description %></p>
        <hr></hr>

        <%= form_for @comment do |f| %>
          <div style="margin:0; padding: 0; display: inline"></div>
          <div class="control-group">
            <%= f.label "Leave a comment" %><br/>
            <%= f.text_area :body, id: "comment_body", class: "span4", rows: "3" %>
          </div>
          <%= f.submit "Create comment" %>
        <% end %>

        <h5>Comments:</h5>

<% logger.debug("NGUYEN: #{@post.comments.count} comments") %>
        <% @post.comments.each do |comment| %>
          <%= render 'shared/comment', comment: comment %>
        <% end %>
      </div>
    </div>
  </div>
</div>
