<div id="main" role="main">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="alert alert-success">
          <a class="close" data-dismiss="alert">x</a>
          <div id="flash_notice">Your comment was added.</div>
        </div>

        <p class="pull-right">
          [<%= link_to "edit this post", edit_post_path %>]
        </p>

        <%= render 'shared/badge', post: @post %>

        <p class="lead"><%= @post.title %></p>
        <hr></hr>
        <p></p>

        <p><%= @post.description %></p>
        <hr></hr>

        <%-# The Comment entity for the form is empty, standalone, and -%>
        <%-# unconnected to the Post entity. Only when a new Comment is -%>
        <%-# entered and submitted will it be linked to the Post entity via -%>
        <%-# CommentsController#create(). Otherwise linking the Comment early -%>
        <%-# would create an additional empty (mostly nil fields) Comment in -%>
        <%-# the array of Comments linked to Post, causing error and headache -%>
        <%= form_for Comment.new do |f| %>
          <div style="margin:0; padding: 0; display: inline"></div>
          <div class="control-group">
            <%= f.label "Leave a comment" %><br/>
            <%= f.text_area :body, id: "comment_body", class: "span4", rows: "3" %>
          </div>
          <%= f.submit "Create comment" %>
        <% end %>

        <h5>Comments:</h5>

        <% @post.comments.each do |c| %>
          <%= render 'shared/comment', comment: c %>
        <% end %>
      </div>
    </div>
  </div>
</div>
